/* Imported font */
@font-face {
    font-family: myFont;
    src: url(garet.ttf);
}

/* General settings  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}

body {
    background-color: black;
    color: #fff;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.name{
    margin: auto;
    width: 50%;

    align-items: center;
}

/*Navbar settings*/
.dot {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.7px solid #333333;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar l {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 14px;
}

.navbar l-rechts {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 14px;
}


.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 640px) {

.squircle {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    overflow: hidden;
}
.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.button {
    font-size: 17px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 980px;
    transition: all 0.3s ease;
}
.button-filled {
    background-color: #ff8c00;
    color: #000000;
}
.button-filled:hover {
    transform: scale(1.15);
}
.button-outlined {
    background-color: rgb(176, 65, 176);
    color: #FFFFFF;
}
.button-outlined:hover {
    transform: scale(1.15);
}
.chevron-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-20px);
    }
    60% {
        transform: translateX(-50%) translateY(-10px);
    }
}
.about-text {
    font-size: 15px; /* Default size for mobile */
    font: myFont;
    text-align: justify;
    position: relative;
}

@media (min-width: 768px) {
    .about-text {
        font-size: 17px; /* Larger size for desktop */
        font: myFont;
        text-align: justify;
        position: relative;
    }
}

.rdk-hover {
    text-decoration: underline;
    cursor: pointer;
    position: relative;
}

.rdk-hover::after {
    content: "What is RDK-B?";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #147eff;
    color: #282232;
    padding: 4px 8px;
    border-radius: 7px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
}

.rdk-hover:hover::after {
    opacity: 1;
}

.project-thumbnail {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
    cursor: pointer;
    aspect-ratio: 2 / 1;
}

.project-thumbnail:hover {
    transform: scale(1.05);
}

.project-thumbnail:hover .redirect-icon {
    opacity: 1;
}

.redirect-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.redirect-icon svg {
    color: white;
    width: 2rem;
    height: 2rem;
}

.read-more {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
@media (max-width: 640px) {
    .projects-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .project-tile {
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;

    }
}

@media (min-width: 740px) {

    .squircle {
        width: 350px;
        height: 350px;
    }
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .navbar a {
        display: none;
    }

    .navbar .menu-icon {
        display: block;
        float: right;
        padding: 10px 42px;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 25px;
    }

    .navbar .menu-icon img {
        width: 30px;
        height: 30px;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 50px; /* Adjust this value to match the height of your navbar */
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .navbar-links a {
        display: block;
        padding: 14px;
        text-decoration: none;
        color: #f2f2f2;
    }

    .navbar-links a:hover {
        background-color: #ddd;
        color: black;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image {
        margin: 0 auto;
        top: 0px;
        left: 30%;
    }

    .image img {
        border-radius: 20%;
        max-width: 100%; /* Adjust this value as needed */
    }
}

.repo-actions {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 0.5rem;
}

.repo-action {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    color: #718096;
    transition: color 0.3s ease;
}

.repo-action:hover {
    color: #2d3748;
}

.dark .repo-action:hover {
    color: #e2e8f0;
}



.image {
    position: relative;
    left: 50%;
    top: 10%;
}



/* Default styles */
.navbar .menu-icon {
    display: none;
}

.navbar-links {
    display: none;
    position: absolute;
    top: 20px; /* Adjust this value to match the height of your navbar */
    width: 100%;
    background-color: black;
    text-align: center;
    z-index: 1;
}


  
